<header>
  <div class="container">
    <nav class="navbar" (scroll)="onWindowScroll($event);">
      <div class="full-name">
        <div class="name"><span>F</span>lorencia</div>
        <div class="surname"><span>A</span>quino</div>
      </div>
      <input type="checkbox" id="menu">
      <label for="menu" class="hamburger">&#9776;</label>
        <div class="links">
          <ul>
            <li><div>Home</div></li>
            <li><div>Proyectos</div></li>
            <li><div>Contacto</div></li>
          </ul>
        </div>
    </nav>
  </div>
</header>
