$FColor: #ff9218;
$FColorLigth: #ffb265;
$AColor: #5956f3;
$AColorLigth: #9193f3;
$MainText: darkslategrey;

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .full-name-container {
    width: 100%;
    margin: 0 auto;

    .descripcion p {
      text-align: center;
      font-family: "Merriweather";
      color: $MainText;
      letter-spacing: 1px;
      font-size: 3.5vw;
      margin-top: 5px;

      span {
        background: -webkit-linear-gradient($AColor, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .full-name {
      width: 100%;
      text-align: center;

      .name, .surname {
        display: inline-block;
        font-size: 8.2vw;
        color: $MainText;
        letter-spacing: 1px;
      }

      .name {
        margin-right: 10px;

        & span {
          color: $FColor;
          font-weight: bold;
        }
      }

      .surname {

        & span {
          color: $AColor;
          font-weight: bold;
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .container {

    .programmer {
      margin-top: 30px;
      width: 100%;

      #programmer {
        height: 60vh;
        width: 100%;
      }
    }

    .full-name-container {

      .descripcion p {
        text-align: center;
        font-family: "Merriweather";
        color: $MainText;
        letter-spacing: 1px;
        font-size: 2vw;
        margin-top: 5px;
      }

      .full-name {
        width: 100%;
        text-align: center;

        .name, .surname {
          display: inline-block;
          font-size: 5.2vw;
          color: $MainText;
          letter-spacing: 1px;
        }

        .name {
          margin-right: 10px;

          & span {
            color: $FColor;
            font-weight: bold;
          }
        }

        .surname {

          & span {
            color: $AColor;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;

    .programmer {
      margin-right: 50px;
      width: 100%;

      #programmer {
        height: 100vh;
        width: 100%;

      }
    }

    .full-name-container {
      width: 50%;
      overflow: hidden;
      margin: 0;

      .descripcion p {
        text-align: center;
        font-family: "Merriweather";
        color: $MainText;
        letter-spacing: 1px;
        font-size: 1vw;
        margin-top: 5px;
      }

      .full-name {
        width: 100%;
        text-align: left;
        display: flex;
        justify-content: center;

        .name, .surname {
          display: inline-block;
          font-size: 3.2vw;
          color: $MainText;
          letter-spacing: 1px;
        }

        .name {
          margin-right: 10px;

          & span {
            color: $FColor;
            font-weight: bold;
          }
        }

        .surname {

          & span {
            color: $AColor;
            font-weight: bold;
          }
        }
      }
    }
  }
}
